* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  display: flex;
  font-family: sans-serif;
  text-align: center;
  background-color: #2E132C;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h3 {
  display: inline;
}


